<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Boda Boda Banja</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
   
  <nav class="the-menu-section">
    <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
		     <ol class="the-menux">
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/register">Register</a></li>
          <li><a href="/adminpanel">Admin Panel</a></li>
          <li><a href="/user/salesteam">Sales Persons</a></li>
          <li><a href="/customers">Customers</a></li>
          <li><a href="/customers/register">Add Customers</a></li>
          <li><a href="/sales/reports">Sales Reports</a></li>
		     </ol>
         </div> 
      </div> 
    </div>  	
  </nav> 
  <div class="container-fluid the-home-bg">
    <div class="row group clearfix">


    </div> 
  </div> 
  <footer class="the-footer-section">
     <p>  &copy; Boda Boda Banja  2020 </p>
  </footer> 

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>


</body>
</html>